@model SA.Models.Solicitacao
@{
    ViewBag.Title = "FormIncluir";
}

@section ScriptsHead{
    <script src="~/Content/Scripts/sa.js"></script>
}

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-alert"></span>
    @Html.ValidationMessage("ProdutoInvalido")    
    @Html.ValidationMessage("QuantidadeInvalida")
    @Html.ValidationMessageFor(s => s.Produto)
    @Html.ValidationMessageFor(s => s.Quantidade)
    @Html.ValidationMessageFor(s => s.CentroCusto)
    @Html.ValidationMessageFor(s => s.Departamento)
    @Html.ValidationMessageFor(s => s.TipoRequisicao)
</div>

@using (Html.BeginForm("Adicionar", "Home", FormMethod.Post))
{
    @Html.Partial("_FormSa")
   
}

@section Scripts{
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/Scripts/jquery.validate.js"></script>    
    <script src="~/Content/Scripts/bootstrap.min.js"></script>  
    
    
    <script>
      var btAdiciona = document.getElementById("btincluir");
        btincluir.onclick = function ()
        {   
            if (TudoValido()) {
                AdicionaArray();        
            }
            
        }
    </script>

    <script>        
        var urlprd = "@Url.Action("GetLista", "Produtos")";
        var produtodigita = document.getElementById("produto");

        produtodigita.onkeypress = function()
        {
            
          

            //Verifica se a quantide digitada é maior que 2
            if (produtodigita.value.length > 2) {

                //Faz a consulta no server pela digitação
                $.ajax({
                    url: urlprd,
                    type: "POST",
                    data: { 'produtoDesci': produtodigita.value },
                    success: function (response) {

                        MontaListaProduto(response);

                    },
                    error: function (response) {
                        console.log("Erro! Não encontrei o produto");
                    }
                })
            }
        }
    </script>

    <script>

        var urlest = "@Url.Action("GetEstoque", "Produtos")";
        var quant = document.getElementById("quantidade");
        var produtodigita = document.getElementById("produto");
        produtodigita.onblur = function () {

            //Busca a lista de produtos
            var listaProduto = document.getElementById("lstproduto");
            var codigoPrd = this.value.substring(0, 15);

            $.ajax({
                url: urlest,
                type: "POST",
                data: { "produtoCod": codigoPrd },
                success: function (response) {                    

                    AtualizaEstoque(response);
                    
                },
                error: function (response) {
                    console.log("Produto não localizado!");
                }
            })

        }
    </script>

    <script>
        var quantidade = document.getElementById("quantidade");
        quantidade.onblur = function () {
            ValidaQuantidade();
        }

    </script>

    <script>
        var btnInclui = document.getElementById("btnGravarSA");
        var urlIncluir = "@Url.Action("Adicionar", "Home")";

        btnInclui.onclick = function () {
            $.ajax({
                url: urlIncluir,
                type: "POST",
                data: { "itenSa": dados },
                dataType: "json",
                success: function (response) {
                    console.log("Solicitação Gravada com sucesso!")
                },
                error: function (response) {
                    console.log("Erro ao salvar SA!");
                }
            })
        }

    </script>
     
}