@model SA.Models.Solicitacao
@{
    ViewBag.Title = "FormIncluir";
}

@section ScriptsHead{
    
}

   @using (Html.BeginForm("Adicionar", "Home", FormMethod.Post))
    {
        @Html.Partial("_FormSa")

    }



<div class="modal fade" id="avisoModalErro" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog avisomodal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title alert alert-danger"></h4>
        </div>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer">           
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>


<div class="modal fade" id="avisoModalSucesso" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog avisomodal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="moda_sucess_title" class="modal-title alert alert-success"></h4>
        </div>
        <div id="moda_sucess_body" class="modal-body">
            <p></p>
        </div>       
    </div>
</div>



@section Scripts{
      <script src="~/Content/Scripts/jquery.validate.js"></script>    
      <script src="~/Content/Scripts/jquery.validate.unobtrusive.js"></script>
      <script src="~/Content/Scripts/sa-vars.js"></script>
      <script src="~/Content/Scripts/sa-validacoes.js"></script>
      <script src="~/Content/Scripts/sa.js"></script>
      <script src="~/Content/Scripts/sa-eventos.js"></script>
      
    

<script type="text/javascript">
        /**
        * Ativa os ToolTips do bootstrap
        */
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>


    <script>        
        /**
         * Monta a lista deprodutos 
         */
        var urlprd = "@Url.Action("GetLista", "Produtos")";
        var produtodigita = document.getElementById("produto");

        produtodigita.onkeypress = function()
        {
            //Verifica se a quantide digitada é maior que 2
            if (produtodigita.value.length > 2) {

                //Faz a consulta no server pela digitação
                $.ajax({
                    url: urlprd,
                    type: "POST",
                    data: { 'produtoDesci': produtodigita.value },
                    success: function (response) {

                        MontaListaProduto(response);

                    },
                    error: function (response) {
                        console.log("Erro! Não encontrei o produto");
                    }
                })
            }
        }
    </script>

    <script>

        /**
         * Recupera o saldo em estoque
         */
        var urlest = "@Url.Action("GetEstoque", "Produtos")";
        var quant = document.getElementById("quantidade");
        var produtodigita = document.getElementById("produto");
        produtodigita.onblur = function (event) {

            event.preventDefault();

            //Busca a lista de produtos
            var listaProduto = document.getElementById("lstproduto");
            var codigoPrd = this.value.substring(0, 15);

            $.ajax({
                url: urlest,
                type: "POST",
                data: { "produtoCod": codigoPrd },
                success: function (response) {                    

                    AtualizaEstoque(response, codigoPrd);
                    
                },
                error: function (response) {
                    console.log("Produto não localizado!");
                }
            })

        }
    </script>

    <script>
        /**
         * Envia a Solicitacao para o servidor
         */
        var btnInclui = document.getElementById("btnGravarSA");
        var urlIncluir = "@Url.Action("Adicionar", "Home")";

        btnInclui.onclick = function (event) {
            event.preventDefault();

            $.ajax({
                url: urlIncluir,
                type: "POST",
                data: { "itenSa": dados },
                dataType: "json",
                success: function (response) {
                    console.log("Solicitação Gravada com sucesso!");
                    var url = "@Url.Action("Index", "Home")";
                    SolicitacaoGravada(response.NumeroSolicitacao,url);

                },
                error: function (response) {
                    console.log("Erro ao salvar SA!");
                }
            })
        }
    </script>
     
}