@model IList<SA.Models.Solicitacao>
@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<div class="page-header">
    <h5>@ViewBag.Usuario.Requerente/ <small>Solicitações Feitas</small></h5>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-bordered table-responsive table-hover table-striped" id="solicitacoes">
                <thead>
                    <tr>
                        <th>Solicitação<a href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span></a></th>
                        <th>Data de Emissão<a href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span></a></th>                        
                        <th>Produto<a href="#"><span class="glyphicon glyphicon-sort"></span></a></th>
                        <th>Descricao<a href="#"><span class="glyphicon glyphicon-sort"></span></a></th>
                        <th>Observação<a href="#"><span class="glyphicon glyphicon-sort"></span></a></th>
                        <th>Quantidade<a href="#"><span class="glyphicon glyphicon-sort"></span></a></th>
                        <th>Situação<a href="#"><span class="glyphicon glyphicon-sort"></span></a></th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.Codigo</td>                            
                            <td>@s.Data</td>
                            <td>@s.Produto</td>
                            <td>Descrição de Teste</td>
                            <td>@s.Observacao</td>
                            <td>@s.Quantidade</td>
                            <td>@s.StatusAtual</td>
                            <td><a href="#"><span class="glyphicon glyphicon-edit"</a></td>
                            <td><a href="#"><span class="glyphicon glyphicon-erase"</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>




@section Scripts {   
    <script src="~/Content/Scripts/jquery.tablesorter.js"></script>
        
    <script>
        $(function () {
            $("#solicitacoes").tablesorter();
        });
</script>
}