@model SA.Models.Solicitacao

@{
    ViewBag.Title = "_FormSa";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <fieldset>
                                <legend>Dados da Solicitação</legend>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.TipoRequisicao, "Tipo de Requisição", new { @for = "tprequisicao" })
                                            @Html.DropDownListFor(s => s.TipoRequisicao, new SelectList(ViewBag.TiposRequisicoes, "TipoRequisicao"), new { id = "tprequisicao", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(s => s.NUMTPR, "Numero:", new { @for = "numtpr", @data_toggle = "tooltip", @data_placement = "top", @data_original_title = "Insira o número de uma requisição manual" })
                                            @Html.TextBoxFor(s => s.NUMTPR, new { id = "numtpr", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(s => s.Departamento, "Departamento", new { @for = "departamento" })
                                    @Html.DropDownListFor(s => s.Departamento, new SelectList(ViewBag.Departamento, "Id", "Departamentos"), new { id = "departamento", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(s => s.CentroCusto, "Centro de Custo", new { @for = "centrocusto" })
                                    @Html.TextBoxFor(s => s.CentroCusto, new { id = "centrocusto", @class = "form-control" })
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <fieldset>
                                <legend>Produtos</legend>
                                <div class="form-group">
                                    @Html.LabelFor(s => s.Produto, "Produto:", new { @for = "produto", @data_toggle = "tooltip", @data_placement = "top", @data_original_title = "Comece a digitar para localizar um produto" })
                                    @Html.TextBoxFor(s => s.Produto, new { id = "produto", @name = "produto", @list = "lstproduto", @class = "form-control" })
                                    <datalist id="lstproduto"></datalist>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(s => s.Quantidade, "Quantidade", new { @for = "quantidade" })
                                    @Html.TextBoxFor(s => s.Quantidade, new { id = "quantidade", @class = "form-control", @placeholder = "" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(s => s.Observacao, "Observação", new { @for = "observacao" })
                                    @Html.TextAreaFor(s => s.Observacao, new { id = "observacao", @class = "form-control" })
                                </div>

                                <button id="btincluir" type="button" class="btn btn-success">Adicionar</button>                                
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div id="avisos"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Produto</th>
                                <th>Quantidade Estoque</th>
                                <th>Quantidade Solicitada</th>
                                <th>Departamento</th>
                                <th>Centro de Custo</th>
                                <th>Observação</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody id="tbselecionado"></tbody>
                    </table>
                    <input type="submit" value="Salvar SA" class="btn btn-default" />
                    <button type="button" class="btn btn-primary" id="btnGravarSA">Gravar SA</button>
                </div>
            </div>

        </div>
    </div>
</div>

