@model SA.Models.Solicitacao

@{
    ViewBag.Title = "_FormSa";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset>
                        <legend>Informações da Solicitação</legend>
                        <div class="form-group">
                            @Html.LabelFor(s => s.TipoRequisicao, "Tipo de Requisição", new { @for = "tprequisicao" })
                            @Html.DropDownListFor(s => s.TipoRequisicao, new SelectList(ViewBag.TiposRequisicoes, "TipoRequisicao"), new { id = "tprequisicao", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.NUMTPR, "Numero:", new { @for = "numtpr" })
                            @Html.TextBoxFor(s => s.NUMTPR, new { id = "numtpr", @class = "form-control" })
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Informações do Produto</legend>
                        <div class="form-group">
                            @Html.LabelFor(s => s.Produto, "Produto:", new { @for = "produto"})
                            @Html.TextBoxFor(s => s.Produto, new { id = "produto", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.Quantidade, "Quantidade", new { @for = "quantidade" })
                            @Html.TextBoxFor(s => s.Quantidade, new { id = "quantidade", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.Observacao, "Observação", new { @for = "observacao" })
                            @Html.TextAreaFor(s => s.Observacao, new { id = "observacao", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.Departamento, "Departamento", new { @for = "departamento" })
                            @Html.DropDownListFor(s => s.Departamento, new SelectList(ViewBag.Departamento, "Id", "Departamentos"), new {id="departamento",  @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.CentroCusto, "Centro de Custo", new { @for = "centrocusto" })
                            @Html.TextBoxFor(s => s.CentroCusto, new { id = "centrocusto", @class = "form-control" })
                        </div>
                        <button id="btincluir" type="button" class="btn btn-success" >Adicionar</button> 
                    </fieldset>                    
                </div>
            </div>
        </div>
        <div id="selectsprd" class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-bordered table-responsive table-condensed">
                            <thead>
                                <th>Produto</th>
                                <th>Quantidade Estoque</th>
                                <th>Quantidade Solicitada</th>
                                <th>Departamento</th>
                                <th>Centro de Custo</th>
                                <th colspan="2">Opções</th>
                            </thead>
                            <tbody id="tbselecionado">                               
                            </tbody>
                        </table>
                        <input type="submit" value="Gravar SA" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
</div>

