<!DOCTYPE	html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/padrao.css" />
    <title>Solicitações ao Almoxarifado</title>    
</head>
<body>       
    <header class="col-lg-12 col-md-12 col-xs-12 col-sm-12">        
        @Html.Partial("_Menu")        
    </header>    
        <main>
            <div class="thumbnail col-lg-12 col-md-12 col-xs-12 col-sm-12">
                @RenderBody()
            </div>
        </main>        
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-1">
                    <h6>Sistema de solicitação de peças ao Almoxarifado</h6>                    
                </div>
                <div class="col-md-6 col-sm-1">
                    <h6>Sistemas DPS</h6>
                </div>
            </div>
        </div>
    </footer>
</body>
@RenderSection("Scripts", false)
<script src="~/Content/Scripts/jquery-3.2.1.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
</html>