@model IList<SA.Models.Usuario>
@{
    ViewBag.Title = "ListaUsuarios";
}
<div class="thumbnail text-right">
    
            <button type="button" class="btn btn-default">
                @Html.ActionLink("Novo Login", "NovoLogin", "Login")
            </button>    
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Requerente</th>
            <th>CPF</th>
            <th>Departamento</th>
            <th>Função</th>
            <th>Centro de Custo</th>
            <th>Descrição Centro de Custo</th>
            <th>Tercerizado</th>
            <th>Empresa</th>
            <th colspan="2">Opções</th>        
        </tr>
    </thead>
    @foreach (var u in Model)
    {   
       <tr>
        <td>@u.Requerente</td>
        <td>@u.Cpf</td>
        <td>@u.DescricaoDepartamento</td>
        <td>@u.Funcao</td>           
        <td>@u.CentroCusto</td>
        <td>@u.DescricaoCentroCusto</td>
        <td>@u.Tercerizado</td>
        <td>@u.EmpresaTercerizada</td>
        <td><a href=@Url.Action("FormAltera", "Login",new { Cpf = u.Cpf })><i class="glyphicon glyphicon-edit"></i></a></td>
        <td><a href=@Url.Action("Excluir","Login",new { Cpf = u.Cpf })><i class="glyphicon glyphicon-erase"></i></a></td>                                  
       </tr>
    }
    
</table>
@section Scripts {
    <script src="~/Content/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/Scripts/jquery.validate.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>    }