@model SA.Models.Usuario
@{
    ViewBag.Title = "NovoLogin";
}

<center>
    @using (Html.BeginForm("ValidarLogin", "Login", FormMethod.Post))
    {

        <table class="mdl-data-table mdl-js-data-table">
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        @Html.LabelFor(u => u.Cpf)
                    </td>
                    <td>
                        @Html.TextBoxFor(l => l.Cpf, new { rows = 11 })
                    </td>
                    <td>
                        @Html.LabelFor(u => u.Departamento)
                    </td>
                    <td>
                        @Html.DropDownListFor(u => u.Departamento, new SelectList( ViewBag.Departamento,"Id","Departamentos"))
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(u => u.CentroCusto)
                    </td>
                    <td>
                        @Html.TextBoxFor(u => u.CentroCusto)
                    </td>
                    <td>
                        @Html.LabelFor(u => u.Funcao)
                    </td>
                    <td>
                        @Html.TextBox("Fun")
                    </td>

                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(u => u.Requerente)
                    </td>
                    <td>
                        @Html.TextBoxFor(u => u.Requerente)
                    </td>
                    <td>
                        @Html.LabelFor(u => u.Tercerizado)
                    </td>
                    <td>
                        @Html.TextBox("Terc")
                    </td>
                    <td>
                        @Html.Label("Empresa Tercerizada: ")
                    </td>
                    <td>
                        @Html.TextBox("Emp")
                    </td>
                </tr>



                @*@Html.DropDownListFor(u => u.Departamento,*@

            </tbody>
        </table>

        <input type="submit" value="Gravar" />
    }
</center>